{{#each this}}
<div class="country__item">
    <img class="country__flag" src="{{flags.svg}}" alt="{{flag}}">
    <h1 class="country__name">{{name}}</h1>
</div>
    
    <p class="country__data"><span class="country__text">Capital: </span>{{capital}}</p>     
    <p class="country__data"><span class="country__text">Population: </span>{{population}}</p>
    <p class="country__data"><span class="country__text">Languages: </span>{{#each languages}} <span class="country__lang-text">{{name}}</span> {{/each}}</p>
    
{{/each}}

    

    
    